<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hurricane News</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="header">
        <div class="header-logo">Hurricane News - Node.js</div>
    </header>
    
    <div class="wrapper">
        <div class="news">
            <% if (articles && articles.length > 0) { %>
            <% articles.forEach(function(article, index) { %>
                <a href="<%- article.url %>" class="news-card">
                    <% if (article.urlToImage) { %>
                        <img src="<%- article.urlToImage %>" alt="<%- article.title %>">
                    <% } else { %>
                        <img src="/img/HurricaneStockIMG.jpg" alt="Image not available" class="no-img">
                    <% } %>
                    <h2><%- article.title %></h2>
                    <p>Source: <%- article.source.name %></p>
                </a>
            <% }) %>
            <% } else { %>
                <p>No posts found.</p>
            <% } %>
        </div>
    </div>
    
</body>
</html>
